[submodule "src/widgets"]
	path = src/widgets
	url = git@github.com:TheCyaniteProject/illusionengine-widgets.git
[submodule "src/api"]
	path = src/api
	url = git@github.com:TheCyaniteProject/illusionengine-api.git
