#duckswidget {
    height: 300px;
    width: 260px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: grab;
    position: absolute;
}

#duckswidget:hover {
    background-color: black;
}

#ducksheader {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 1px 1px #000;
}

#ducksmushrooms {
    height: 260px;
    width: 260px;
    border-radius: 4px;
    display: grid;
    justify-items: center;
}

#picthing {
    max-height: 235px;
    max-width: 235px;
    height: auto;
    width: auto;
    border-radius: 6px;
    object-fit: cover;
    cursor: click;
}